.git/

# for WebStorm
.idea/

# for npm
node_modules/
npm-shrinkwrap.json

# codes
src/
test/
examples/
build/test
bin/test

.clang-format
.gitignore
.editorconfig
tslint.json
tsconfig.json
mocha-config.json
.travis.yml
index.ts

npm-debug.log
docs/
webpack.common.js
webpack.dev.js
webpack.prod.js
